* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--bg-color) !important;
}
:root {
  --bg-color: #fffbea;
  --main-color: #e1bb87;
  --second-color: #48474c;
  --transition: all 0.3s ease;
}
.navbar-nav {
  --bs-navbar-color: #fff;
}
/* sections title */
.sec-title {
  position: relative;
}
.sec-about:before {
  content: "About Us!";
}
.sec-video:before {
  content: "Discover!";
}
.sec-trips:before {
  content: "Trip moments!";
}
.sec-title:before {
  left: 50%;
  transform: translateX(-50%);
  font-size: 85px;
  color: var(--main-color);
  opacity: 0.2;
  position: absolute;
  bottom: -50%;
  text-wrap: nowrap;
  /* transform: translateY(-50%); */
}
.sec-title h2 {
  position: relative;
  width: fit-content;
  margin: auto;
}
.sec-title h2::after {
  content: "";
  height: 2px;
  width: 50px;
  background-color: var(--main-color);
  position: absolute;
  left: -60px;
  bottom: 40%;
}
.sec-title h2::before {
  content: "";
  height: 2px;
  width: 50px;
  background-color: var(--main-color);
  position: absolute;
  right: -60px;
  bottom: 40%;
}
/* ======================nav */
.navbar {
  background-color: transparent;
}

.navbar .navbar-collapse ul {
  width: fit-content;
}
.navbar.nav-bg {
  background-color: #48474cd5;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.logo {
  width: 50px;
  height: 50px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.navbar img,
.footer img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.navbar-brand > span {
  color: var(--main-color);
  font-weight: 700;
}
.nav-link {
  color: var(--bs-navbar-color);
}
.nav-link:hover,
.nav-link.active {
  transition: var(--transition);
  color: var(--main-color) !important;
}
.nav-link {
  position: relative;
}
.nav-link.active::after,
.nav-link:hover:after {
  content: "";
  height: 0.01rem;
  width: 70%;
  background-color: var(--main-color);
  position: absolute;
  left: 7px;
  bottom: 15px;
  transform: rotate(-45deg);
}
/* ======================hero */
.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)),
    url(../assets/img/pexels-marcel-winger-1281376-2445852.jpg);

  background-repeat: no-repeat;
  max-width: 100vw;
  height: 100vh;
  background-size: cover;
}
.hero > h1 {
  color: var(--main-color);
  font-weight: 700;
}
.btns button {
  font-weight: 600;
  padding: 10px 40px;
  box-shadow: 0 0 12px var(--second-color), 0 0 25px rgba(250, 136, 2, 0.7);

  transform: translateY(0px);
  color: #fff;
  background: linear-gradient(to left, var(--main-color), var(--second-color));
  border: 5px transparent solid;
  border-image: linear-gradient(to left, var(--main-color), var(--second-color))
    1;

  margin: 10px 30px;
  transition: var(--transition);
}
.btns button:hover {
  border: 5px var(--second-color) solid;
  transform: translateY(-6px);
  background: linear-gradient(to right, var(--main-color), var(--second-color));
}
.hero h1 {
  font-size: 56px;
  color: var(--main-color);
  font-weight: 800;
}
.hero p {
  color: #fff;
  width: 60%;
  font-size: 1.2rem;
  margin: 40px auto;
}
.social ul {
  width: 40%;
  margin: 30px auto;
  gap: 20px;
  padding-left: 0;
  justify-content: center;
}
.social ul li {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  background-color: var(--second-color);
  /* border-radius: 50%; */
  border: 1px solid transparent;
  cursor: pointer;
  transition: var(--transition);
}
@keyframes scaleUp {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.social li a {
  color: #fff;
}
.social ul li:hover {
  background-color: transparent;
  border: var(--second-color) solid 1px;
  /* color: var(--second-color); */
}
.social ul li:hover a {
  /* color: var; */
  animation: scaleUp 0.3s ease forwards;
}
.footer .social ul li:hover a {
  color: var(--second-color);
}
/* ==================== about */
.custom-color {
  color: var(--main-color);
}
.about .row p {
  line-height: 2;
}
/* ============ */
.trips .card {
  background-color: #fa860209;
  transform: scale(1);
  transition: var(--transition);
  border-radius: 0% !important;
}
.trips .card:hover {
  transform: scale(1.1);
}
.trips .card .btn {
  font-size: 13px;
  border-radius: 0% !important;
  background-color: transparent;
  color: var(--second-color);
  border: solid 1px var(--second-color);
}
.trips .card p {
  font-size: 14px;
}
.trips .card .btn:hover {
  color: #fff;
  background-color: var(--second-color);
  border: solid 1px var(--second-color);
}
/* ===============================video */
.margin-y-100 {
  margin: 100px 0;
}
.margin-y-50 {
  margin: 50px 0;
}
.videos .card {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(#211e1bde, #211e1bc6),
    url(../assets/img/pexels-marcel-winger-1281376-2445852.jpg);
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  transition: background-image 0.6s ease;
}
.videos .card h3 {
  color: var(--main-color);
  transition: opacity 0.3s ease;
}
.videos .card::after {
  content: "Watch";
  border: 1px solid var(--main-color);
  color: var(--main-color);
  font-size: 24px;
  transform: translateX(500%) rotateY(0deg);
  transition: var(--transition);
}

.videos .inner {
  transition: var(--transition);
  height: 200px;
  transform-style: preserve-3d;
}

.videos .inner:hover .card h3 {
  display: none;
}
.videos .inner:hover .card::after {
  content: "Watch";
  transform: translateX(0) rotateY(0deg);
  border: 1px solid var(--main-color);
  padding: 10px 25px;
  cursor: pointer;
}

.videos .inner:hover .card {
  background-image: linear-gradient(#211e1bde, #211e1bc6),
    url(../assets/img/31.jpg);
}
/* ======================footer */
.footer p {
  font-size: 14px;
}
.footer ul {
  padding-left: 0;
}

/* ================================== screens */
@media screen and (min-width: 319px) and (max-width: 676px) {
  .social ul {
    width: 100%;
  }
  .navbar-brand > span {
    font-size: 16px;
  }
  .hero h1 {
    margin: 30px 0;
    /* margin-top: 100px; */
  }
  .hero p {
    width: 70%;
    font-size: 15px;
  }
  .sec-title:before {
    font-size: 40px;
  }
}
@media screen and (min-width: 319px) and (max-width: 991px) {
  .navbar .navbar-toggler {
    color: var(--main-color) !important;
    background-color: transparent;
    border: 1px solid white !important;
  }
  .navbar .navbar-collapse {
    background-color: var(--second-color);
  }
  .navbar .navbar-collapse .navbar-nav {
    margin: 0 auto !important;
  }
}
