:root {
  --bg-color: #fffbea;
  --main-color: #e1bb87;
  --second-color: #48474c;
  --transition: all 0.3s ease;
}
.navbar-nav {
  --bs-navbar-color: #000;
}
main {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)),
    url(../assets/img/cards/pexels-hossamashoor-29610806.jpg);
  background-position: center;
  background-repeat: no-repeat;
  max-width: 100vw;
  height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.details-sec .card {
  background-color: transparent;
  border: none;
}
.details-sec .card-body {
  text-align: center;
  margin: auto;
  margin-top: 30px;
  color: #fff;
  width: 70%;
}
.details-sec .card-body .card-title {
  color: var(--main-color);
  font-size: 33px;
}

.card .image {
  margin: auto;
  width: 50%;
  height: 300px;
}

/* ============================ */
/* For screens smaller than md (medium) */
@media (max-width: 992px) {
  .navbar-nav {
    --bs-navbar-color: #fff;
  }
  .card .card-body {
    width: 70%;
  }
  .btns .btn {
    font-size: 13px;
    text-wrap: nowrap;
  }
}

@media (max-width: 667px) {
  .card .card-body {
    width: 95%;
  }
}
