<nav class="navbar navbar-expand-lg fixed-top">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center gap-3" href="#">
      <div class="logo">
        <img
          src="../assets/img/WhatsApp Image 2025-04-18 at 13.31.02_7062eaa7.jpg"
          alt=""
        />
      </div>
      <span>LavandaEgypt Tour</span>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="../index.html"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Gallery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pictures</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#trips">Trips</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
